<%= render :partial => 'layouts/flash_messages' %>

<%#<h1>Log In</h1>%>

<% form_tag session_path do -%>
<p class="input_title"> <%= label_tag 'login' %></p>
<p><%= text_field_tag 'login', @login, :class => 'input_field' %></p>

<p class="input_title"> <%= label_tag 'password' %></p>
<p><%= password_field_tag 'password', nil, :class => 'input_field' %></p>

<%# <p> %>
<%# label_tag 'remember_me', 'Remember me' %>
<%# check_box_tag 'remember_me', '1', @remember_me %>
<%# </p> %>

<p><%= submit_tag 'Log in' %></p>
<% end -%>
