<tr class="<%= cycle("odd","even") %>">
  <td>
    <%= link_to user.login, user, :class => "action icon_user_card" %>
  </td>
  <%#<td>%>
    <%#= h user.email %>
  <%#</td>%>
  <%#<td>%>
    <%#= h user.name %>
  <%#</td>%>
  <td>
    <% if !user.created_at.nil? -%> 
    <%= h format_short_time(user.created_at) %>
    <% end -%>
  </td>
  <td>
    <% if !user.updated_at.nil? -%> 
    <%= h format_short_time(user.updated_at) %>
    <% end -%>
  </td>
  <%#<td>%>
    <%# if !user.activated_at.nil? -%> 
    <%#= h format_short_time(user.activated_at) %>
    <%# end -%>
  <%#</td>%>
  <td>
    <%= h user.state %>
  </td>
  <%#<td>%>
    <%#= h number_to_human_size(user.quota) %>
  <%#</td>%>
  <%#<td>%>
    <%# for role in user.roles %>
      <%#= h role.name.humanize %>
    <%# end %>
  <%#</td>%>
  <%#<td>%>
    <%# for department in user.departments %>
      <%#= h department.name %>
    <%# end %>
  <%#</td>%>
  <td>
    <%= link_to 'Edit', edit_user_path(user), :method => :get, :class => "action user_edit" %>

    <% if user.state != "suspended" and user.state != "deleted" -%> 
      <%= link_to 'Suspend', suspend_user_path(user), :method => :put, :class => "action icon_bang_yellow" %>
    <% end -%>

    <% if user.state == "suspended" and user.state != "deleted" -%> 
      <%= link_to 'Reactivate', unsuspend_user_path(user), :method => :put, :class => "action icon_tick_circle" %>
    <% end -%>

    <% if user.state != "deleted" -%> 
    <%= link_to 'Delete', destroy_user_path(user), :confirm => 'This will mark the user \'deleted\' but keep their data. This cannot be undone. Are you sure?', :method => :delete, :class => 'user_delete action' %>
    <% end -%>

    <% if user.state == "deleted" -%> 
    <%= link_to 'Purge', purge_user_path(user), :confirm => 'This will permanently delete the user and all all associatiated data. This cannot be undone. Are you sure?', :method => :delete, :class => 'user_delete action' %>
    <% end -%>
  </td>
</tr>
