<tr class="<%= cycle("odd","even") %>">
  <td>
    <%= link_to user.login, user, :class => "action icon_user_card" %>
  </td>
  <%#<td>%>
    <%#= h user.email %>
  <%#</td>%>
  <%#<td>%>
    <%#= h user.name %>
  <%#</td>%>
  <td>
    <% if !user.created_at.nil? -%> 
    <%= h format_short_time(user.created_at) %>
    <% end -%>
  </td>
  <td>
    <% if !user.updated_at.nil? -%> 
    <%= h format_short_time(user.updated_at) %>
    <% end -%>
  </td>
  <%#<td>%>
    <%# if !user.activated_at.nil? -%> 
    <%#= h format_short_time(user.activated_at) %>
    <%# end -%>
  <%#</td>%>
  <td>
    <%= h user.state %>
  </td>
  <%#<td>%>
    <%#= h number_to_human_size(user.quota) %>
  <%#</td>%>
  <%#<td>%>
    <%# for role in user.roles %>
      <%#= h role.name.humanize %>
    <%# end %>
  </td>
  <td>
    <%# for department in user.departments %>
      <%#= h department.name %>
    <%# end %>
  </td>
</tr>
