<%= render :partial => 'layouts/user_bar' %>
<%= render :partial => 'layouts/flash_messages' %>

<div class="pagination">
  <%= will_paginate @users, :container => false %>
  <div clas="page_info">
    <p><%= page_entries_info @users %></p>
  </div>
</div>

<%= render :partial => 'user_table' %>
  <%= render :partial => 'user_row', :collection => @users %>
</table>
