<%= render :partial => 'layouts/user_bar' %>
<%= render :partial => 'layouts/flash_messages' %>

<h2><%= h @user.name %></h2>
<ul>
  <li><b>User Name:</b>
  <%= h @user.login %></li>

  <li><b>Status:</b>
  <%= h @user.state %></li>

  <li><b>Email:</b>
  <%= h @user.email %></li>

  <li><b>Quota:</b>
  <%= h number_to_human_size(@user.quota) %></li>

<% if not @user.roles.empty? -%>
  <li><b>Role:</b>
  <% for role in @user.roles %>
    <%= h role.name.humanize %>
  <% end %>
  </li>
<% end -%>

<% if not @user.departments.empty? -%>
  <li><b>Department:</b>
  <% for department in @user.departments %>
    <%= h department.name %>
  <% end %>
  </li>
<% end -%>
</ul>

<% if not @requests.nil? -%> 
<p><h3>Requests:</h3></p>
<table border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th>Request Date</th>
    <th>Requested Permissions</th>
    <%#<th>Updated</th>%>
    <th>Status</th>
  </tr>
  <% for request in @requests %>
    <tr>
      <td>
        <%= h format_time(request.created_at) %>
      </td>
      <td>
        <% if not request.role_id.nil? -%>
          Role: <%= h request.role.name.humanize %>
        <% end %>
        <% if not request.role_id.nil? and not request.department_id.nil? %>
          <br/>
        <% end %>
        <% if not request.department_id.nil? -%>
          Department: <%= h request.department.name %>
        <% end %>
      </td>
      <%#<td>%>
        <%# h format_time(request.updated_at %>
      <%#</td>%>
      <td>
        <%= h request.state.humanize %>
        on <%= h format_date(request.updated_at) %>
      </td>
    </tr>
  <% end %>
</table>
<% end %>
