<%= render :partial => 'layouts/user_bar' %>
<%= render :partial => 'layouts/flash_messages' %>

<h2><%= h @user.name %></h2>

<table class="info pad_bottom" border="0" cellspacing="0" cellpadding="0">
  <tr class="<%= cycle("odd","even") %>">
    <td class="info_title"> Login </td>
    <td> <%= h @user.login %> </td>
  </tr>

  <tr class="<%= cycle("odd","even") %>">
    <td class="info_title"> Status </td>
    <td> <%= h @user.state %> </td>
  </tr>

  <tr class="<%= cycle("odd","even") %>">
    <td class="info_title"> Email </td>
    <td> <%= h @user.email %> </td>
  </tr>

  <tr class="<%= cycle("odd","even") %>">
    <td class="info_title"> Quota </td>
    <td>
      <%= h number_to_human_size(@user.quota) %>,
      (Using <%= h number_to_human_size(@used_space) %>
      or <%= h number_to_percentage(@used_space.to_f / @user.quota.to_f, :precision => 2) %>)
    </td>
  </tr>

  <% if not @user.roles.empty? -%>
  <tr class="<%= cycle("odd","even") %>">
      <td class="info_title"> Role </td>
      <td>
        <% for role in @user.roles %>
          <%= h role.name.humanize %>
        <% end %>
      </td>
  </tr>
  <% end -%>

  <% if not @user.departments.empty? -%>
  <tr class="<%= cycle("odd","even") %>">
      <td class="info_title"> Dept. </td>
      <td>
        <% for department in @user.departments %>
          <%= h department.name %>
        <% end %>
      </td>
  </tr>
  <% end -%>
</table>

<% reset_cycle -%>

<ul class="toolbar">
<li class="title">Request History</li>
<% if @request_access -%>
  <li><%= link_to "New Request", new_user_request_path, :class => 'request_index action' %></li>
<% end -%>
</ul>

<% if !@requests.empty? -%>
<table border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th>Date</th>
    <th>Role</th>
    <th>Dept.</th>
    <th>Status</th>
  </tr>

  <% for request in @requests %>

    <tr class="<%= cycle("odd","even") %>">

      <td>
        <%= h format_time(request.created_at) %>
      </td>

      <td>
        <%# if not request.role_id.nil? -%>
          <%= h(request.role.name.humanize) unless request.role_id.nil? %>
        <%# end %>
      </td>
      <td>
        <%# if not request.department_id.nil? -%>
          <%= h(request.department.name) unless request.department_id.nil? %>
        <%# end %>
      </td>

      <td>
        <b><%= h request.state.humanize %></b>
        on <%= h format_date(request.updated_at) %>
      </td>

    </tr>

  <% end %>

</table>

<% else %>

  <%# There should be SOMETHING here. %>
  <p>No past requests found.</p>

<% end -%>
