<tr class="<%= cycle("odd","even") %>">
  <td>
    <% if !request_row.created_at.nil? -%> 
    <%= h format_short_time(request_row.created_at) %>
    <% end -%>
  </td>
  <td>
    <%= link_to request_row.user.login, request_row.user, :class => "action icon_user_card" %>
  </td>
  <td>
    <% if !request_row.role.nil? -%> 
    <%= h request_row.role.name.humanize %>
    <% end -%>
  </td>
  <td>
    <% if !request_row.department.nil? -%> 
    <%= h request_row.department.name %>
    <% end -%>
  </td>
  <td>
    <%= h request_row.state.humanize %>
    <%#on %>
    <%#= h format_short_time(request_row.updated_at) %>
  </td>
  <td>
    <% if request_row.state != "approved" -%>
    <%= link_to "approve", approve_user_request_path(:id => request_row.id), :method => :put, :class => 'action icon_tick' %>
    <% end -%>
    <% if request_row.state != "rejected" and request_row.state != "approved" -%>
    <%= link_to "reject", reject_user_request_path(:id => request_row.id), :method => :put, :class => 'action icon_cross' %>
    <% end -%>
    <% if request_row.state != "pending" and request_row.state != "revoked" -%>
      <%= link_to "revoke", revoke_user_request_path(:id => request_row.id), :method => :put, :class => 'action icon_cancel' %>
    <% end -%>
  </td>
</tr>
