<tr>
  <td>
    <% if !request_row.created_at.nil? -%> 
    <%= h format_time(request_row.created_at) %>
    <% end -%>
  </td>
  <td>
    <%= h request_row.user.login %>
  </td>
  <td>
    <% if !request_row.role.nil? -%> 
    <%= h request_row.role.name.humanize %>
    <% end -%>
  </td>
  <td>
    <% if !request_row.department.nil? -%> 
    <%= h request_row.department.name %>
    <% end -%>
  </td>
  <td>
    <%= h request_row.state.humanize %>
    on <%= h format_date(request_row.updated_at) %>
  </td>
  <td>
    <% if request_row.state != "approved" -%>
    <%= link_to "approve", approve_user_request_path(:id => request_row.id), :method => :put %>
    <% else -%>
      approve
    <% end -%>
    <% if request_row.state != "rejected" and request_row.state != "approved" -%>
    <%= link_to "reject", reject_user_request_path(:id => request_row.id), :method => :put %>
    <% else -%>
      reject
    <% end -%>
    <% if request_row.state != "revoked" -%>
    <%= link_to "revoke", revoke_user_request_path(:id => request_row.id), :method => :put %>
    <% else -%>
      revoke
    <% end -%>
  </td>
</tr>
