<tr>
  <td>
    <% if !request_row.created_at.nil? -%> 
    <%= h request_row.created_at.strftime("%m/%d/%y %I:%M %p") %>
    <% end -%>
  </td>
  <td>
    <%= h request_row.user.login %>
  </td>
  <td>
    <% if !request_row.role.nil? -%> 
    <%= h request_row.role.name.humanize %>
    <% end -%>
  </td>
  <td>
    <% if !request_row.department.nil? -%> 
    <%= h request_row.department.name %>
    <% end -%>
  </td>
  <td>
    <%= h request_row.state.humanize %>
  </td>
  <td>
    <%= link_to "approve", approve_user_request_path(:id => request_row.id), :method => :put %>
    <%= link_to "reject", reject_user_request_path(:id => request_row.id), :method => :put %>
  </td>
</tr>
