<% form_for @document, :html => { :multipart => true } do |form| %>

<% no_error = @document.errors['name'].nil? -%>
<% if no_error -%>
  <p class="input_title">
<% else -%>
  <p class="input_title inline">
<% end -%>
<%= label_tag 'name', 'Name' %> </p>
<%= error_message_on 'document', 'name', :css_class => "input_error_message" %>
<p>
  <% if no_error and !@document.errors.empty? -%> 
  <div class="valid_field"><%= form.text_field :name, :class => 'input_field' %></div>
  <% else -%>
  <%= form.text_field :name, :class => 'input_field' %>
  <% end -%>
</p>

<% no_error = @document.errors['document'].nil? -%>
<% if no_error -%>
  <p class="input_title">
<% else -%>
  <p class="input_title inline">
<% end -%>
<%= label_tag 'document', 'Select a file (20 MB max)' %> </p>
<%= error_message_on 'document', 'document', :css_class => "input_error_message" %>

<p>Allowed File Types: 
<span class="action icon_text">Plain Text</span>
, 
<span class="action icon_pdf">PDF</span>
, 
<span class="action icon_word">Word</span>
, 
<span class="action icon_excel">Excel</span>
, 
<span class="action icon_powerpoint">PowerPoint</span>
, and 
<span class="action icon_image">Images</span>
</p>

<p>
  <%= form.file_field :document %>
</p>

<p class="input_title">
  <%= label_tag 'comment', 'Comments' %>
</p>
<p>
  <%= form.text_area :comment %>
</p>

<p>
  <%= form.submit @document.new_record? ? "Create Document" : "Update Document" %>
</p>

<% end %>
