<p>
<b>Mine:</b>
<%= @my_doc %>
</p>
<p>
<b>Shared:</b>
<%= @shared_doc %>
</p>
<p>
<b>My Checkout:</b>
<%= @my_checkout %>
</p>
<p>
<b>Is Checked-out:</b>
<%= @document.checked_out? %>
</p>
<p>
<b>Edit Access:</b>
<%= @edit_access %>
</p>
<p>
<b>Delete Access:</b>
<%= @delete_access %>
</p>
<p>
<b>Checkout Access:</b>
<%= @checkout_access %>
</p>
<p>
<b>Share Access:</b>
<%= @share_access %>
</p>
