<%= render :partial => 'layouts/user_bar' %>
<%= render :partial => 'layouts/flash_messages' %>

<% if @documents -%>

<div id="float_right">
Using <%= h number_to_human_size(@used_space) %>
of <%= h number_to_human_size(@user.quota) %>
(<%= h number_to_percentage(@used_space.to_f / @user.quota.to_f, :precision => 2) %>)
</div>

<ul class="toolbar">
  <% if @department_list -%>
    <li class="title"> <%= h @department.name %> </li>
  <% elsif @shared_list -%>
    <li class="title">Documents Shared with Me</li>
  <% else -%>
    <li class="title">My Documents</li>
  <% end -%>

  <li><%= link_to "New Document", new_document_path, :class => 'document_new action' %></li>
</ul>

<% if !@documents.empty? -%>

  <div class="page_info">
    <%= page_entries_info @documents %>
  </div>
  <div class="pagination">
    <%= will_paginate @documents, :container => false %>
  </div>

  <%= render :partial => 'documents_table', :object => @documents, :as => :documents %>

<% else -%>
  <p>No documents here! Create some by clicking New Document above.</p>
<% end -%>

<% end -%>

