<%= render :partial => 'layouts/user_bar' %>


<h2>
  <%= image_tag("icons/16x16/documents.png", :size => "16x16", :alt => "Documents Icon") %> My Documents
</h2>

<p>
<%= link_to "#{image_tag("icons/16x16/document--plus.png", :size => "16x16", :alt => "New Document", :border => 0)} New document", new_document_path %>
</p>

<table border="0" cellspacing="0" cellpadding="5">
  <tr>
    <th>Name</th>
    <%#<th>Type</th>%>
    <th>Size</th>
  </tr>

<% @documents.each do |document| %>
  <tr>
    <td>
      <%= image_tag("icons/16x16/" + document.mime_icon, :size => "16x16", :alt => "Document Type Icon") %>
      <%= h document.name %>
    <%#<td>%>
      <%# h document.document_content_type %>
    <%#</td>%>
    <td>
      <%= h number_to_human_size(document.document_file_size) %>
    </td>
    <td><%= link_to 'Show', document %> <br/>
        <%= link_to 'Edit', edit_document_path(document) %></td>
    <td><%= link_to 'Destroy', document, :confirm => 'Are you sure?', :method => :delete %> <br/>
        <%= link_to 'Download', document.document.url %></td>
  </tr>
<% end %>
</table>

<p> You are currently using <%= h number_to_human_size(@used_space) %>
(<%= h number_to_percentage(@used_space.to_f / @user.quota.to_f, :precision => 2) %>)
of your <%= h number_to_human_size(@user.quota) %> quota. </p>
