<%= render :partial => 'layouts/user_bar' %>
<%= render :partial => 'layouts/flash_messages' %>

<div id="float_right">
Using <%= h number_to_human_size(@used_space) %>
of <%= h number_to_human_size(@user.quota) %>
(<%= h number_to_percentage(@used_space.to_f / @user.quota.to_f, :precision => 2) %>)
</div>

<ul class="toolbar">
<li class="title">My Documents</li>
<li><%= link_to "New document", new_document_path, :class => 'document_new action' %></li>
</ul>

<table border="0" cellspacing="0" cellpadding="6">
  <tr>
    <th>Name</th>
    <th>Size</th>
    <th>Updated</th>
  </tr>

<% @documents.each do |document| %>
  <tr>
    <td>
      <%= image_tag("icons/16x16/" + document.mime_icon, :size => "16x16", :alt => "Document Type Icon") %>
      <%= h document.name %>
    <td> <%= h number_to_human_size(document.document_file_size) %> </td>
    <td> <%= h document.updated_at.strftime("%m/%d/%y %I:%M %p") %> </td>
    <td><%= link_to 'Show', document, :class => 'document_show action' %> </td>
  </tr>
<% end %>
</table>

