<%= render :partial => 'layouts/user_bar' %>
<%= render :partial => 'layouts/flash_messages' %>

<div id="float_right">
Using <%= h number_to_human_size(@used_space) %>
of <%= h number_to_human_size(@user.quota) %>
(<%= h number_to_percentage(@used_space.to_f / @user.quota.to_f, :precision => 2) %>)
</div>

<ul class="toolbar">
  <% if @department_list -%>
    <li class="title"> <%= h @department.name %> </li>
  <% else -%>
    <li class="title">My Documents</li>
  <% end -%>
  <li><%= link_to "New Document", new_document_path, :class => 'document_new action' %></li>
</ul>

<% if @documents -%>
<% if !@documents.empty? -%>

  <table border="0" cellspacing="0" cellpadding="5" class="pad_bottom">
    <tr>
      <th>Name</th>
      <th>Size</th>
      <th>Updated</th>
      <th></th>
    </tr>

  <%= render :partial => 'document_row', :collection => @documents, :as => :document %>

  </table>

<% else -%>
  <p>No documents here! Create some by clicking New Document above.</p>
<% end -%>
<% end -%>

<% reset_cycle -%>

<% if @documents_shared_with_me -%>
<% if !@documents_shared_with_me.empty? -%>

  <ul class="toolbar">
  <li class="title">Documents Shared with Me</li>
  </ul>

  <table border="0" cellspacing="0" cellpadding="5" class="pad_bottom">
    <tr>
      <th>Name</th>
      <th>Size</th>
      <th>Updated</th>
      <th></th>
    </tr>

  <%= render :partial => 'document_row', :collection => @documents_shared_with_me, :as => :document %>

  </table>

<% else -%>
  <p>No documents are being shared with you.</p>
<% end -%>
<% end -%>
