<%= render :partial => 'layouts/user_bar' %>
<%= render :partial => 'layouts/flash_messages' %>

<div id="float_right">
Using <%= h number_to_human_size(@used_space) %>
of <%= h number_to_human_size(@user.quota) %>
(<%= h number_to_percentage(@used_space.to_f / @user.quota.to_f, :precision => 2) %>)
</div>

<ul class="toolbar">
<li class="title">My Documents</li>
<li><%= link_to "New document", new_document_path, :class => 'document_new action' %></li>
</ul>

<table border="0" cellspacing="0" cellpadding="5" class="pad_bottom">
  <tr>
    <th>Name</th>
    <th>Size</th>
    <th>Updated</th>
  </tr>

<%= render :partial => 'document_row', :collection => @documents, :as => :document %>

</table>


<ul class="toolbar">
<li class="title">Documents Shared with Me</li>
</ul>

<table border="0" cellspacing="0" cellpadding="5" class="pad_bottom">
  <tr>
    <th>Name</th>
    <th>Size</th>
    <th>Updated</th>
  </tr>

<%= render :partial => 'document_row', :collection => @documents_shared_with_me, :as => :document %>

</table>

