<h1>New document</h1>
<% form_for @document, :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>

  <p><b><%= label_tag 'name', 'Name' %></b><br/>
  <%= f.text_field :name %></p>

  <p><b><%= label_tag 'comment', 'Comments' %></b><br/>
  <%= f.text_area :comment %></p>

  <p><b><%= label_tag 'document', 'Select a file (no larger than 20 MB)' %><br/>
  <%= f.file_field :document %></p>

  <p><%= f.submit 'Create' %></p>

<% end %>

<%= link_to 'Back', documents_path %>
