<%= render :partial => 'layouts/user_bar' %>
<%= render :partial => 'layouts/flash_messages' %>

<%# render :partial => 'show_document_debug' %>

<div class="pad_bottom">
<ul class="toolbar">
<li class="title">Document</li>

  <% if @edit_access -%>
      <li><%= link_to 'Edit', edit_document_path(@document), :class => 'document_edit action' %></li>
  <% end -%>

  <% if @delete_access -%>
    <li><%= link_to 'Delete', @document, :confirm => 'Are you sure?', :method => :delete, :class => 'document_delete action'  %></li>
  <% end -%>

  <%# read access %>
  <li><%= link_to 'Download', @document.document.url, :class => 'document_download action' %></li>

  <% if @document.checked_out? -%>

    <li class="checkout_message icon_lock"> Checked-out by <%= h @checked_out_by.name %> </li>
    <% if @my_checkout -%>
      <li><%= link_to 'Check-In', checkin_document_path(@document), :method => :put, :class => 'document_checkin action' %></li>
    <% end -%>

  <%# not checked out %>
  <% else -%>

    <% if @checkout_access -%>
      <li><%= link_to 'Check-Out', checkout_document_path(@document), :method => :put, :class => 'document_checkout action' %></li>
    <% end -%>

  <% end -%>

</ul>
</div>

<div class="pad_bottom">
<p class="document_title">
  <%= image_tag("icons/16x16/" + @document.mime_icon, :size => "16x16", :alt => h(@document.document_content_type) ) %>
  <%= h @document.name %>
</p>
</div>

<table class="info" border="0" cellspacing="0" cellpadding="0">
  <tr class="<%= cycle("odd","even") %>">
    <td class="info_title"> 
      Owner
    </td>
    <td> 
      <%= h @document.user.name %>
    </td>
  </tr>
  <tr class="<%= cycle("odd","even") %>">
    <td class="info_title">
      Department
    </td>
    <td> 
      <%= h @department_name %>
    </td>
  </tr>
  <tr class="<%= cycle("odd","even") %>">
    <td class="info_title"> 
      Created
    </td>
    <td> 
      <%= h format_time(@document.created_at) %>
    </td>
  </tr>
  <tr class="<%= cycle("odd","even") %>">
    <td class="info_title"> 
      Updated
    </td>
    <td> 
      <%= h format_time(@document.updated_at) %>
    </td>
  </tr>
  <tr class="<%= cycle("odd","even") %>">
    <td class="info_title"> 
      Size
    </td>
    <td> 
      <%= h number_to_human_size(@document.document_file_size) %>
    </td>
  </tr>
</table>

<% if @document.comment -%>
  <p><b>Comment:</b></p>
  <p><%= h @document.comment %></p>
<% end -%>

<%# IF MY DOC, DISPLAY SHARING %>
<% if @my_doc -%>

<div class="pad_bottom">
<ul class="toolbar">
  <li class="title">Shares</li>
  <li><%= link_to "New share", new_document_share_path(@document), :class => 'user_new action' %></li>
</ul>
</div>

<% if !@shares.empty? -%>
<% reset_cycle -%>

  <table border="0" cellspacing="0" cellpadding="5">
    <tr>
      <th>Login</th>
      <th>Name</th>
      <th>Email</th>
      <th class="center">
        <%= image_tag "icons/16x16/document--pencil.png", :size => "16x16", :alt => "Can Edit?", :title => "Can Edit?" %> Update
      </th>
      <th class="center">
        <%= image_tag "icons/16x16/document-export.png", :size => "16x16", :alt => "Can Check-Out?", :title => "Can Check-Out?" %> Check-Out
      </th>
      <th class="right"></th>
    </tr>

  <% @shares.each do |share| %>
    <tr class="<%= cycle("odd","even") %>">
      <td>
        <%= h share.user.login %>
      </td>
      <td>
        <%= h share.user.name %>
      </td>
      <td>
        <%= h share.user.email %>
      </td>
      <td class="center">
        <%= link_to '', toggle_update_document_share_path(@document, share), :method => :put, :class => "#{share.can_update? ? "icon_tick" : "icon_cross"} action" %>
      </td>
      <td class="center">
        <%= link_to '', toggle_checkout_document_share_path(@document, share), :method => :put, :class => "#{share.can_checkout? ? "icon_tick" : "icon_cross"} action" %>
      </td>
      <td class="right">
        <%= link_to 'Edit', edit_document_share_path(@document, share), :class => 'user_edit action' %>
        <%= link_to 'Delete', document_share_path(@document, share), :confirm => 'Are you sure?', :method => :delete, :class => 'user_delete action' %>
      </td>
    </tr>
  <% end -%>

  </table>

<% else -%>
  This document is not being shared.
<% end -%>

<% end -%>

