<p><%= h @document.name %></p>
<p><%= h @document.comment %></p>
<p><%= h @document.document_content_type %></p>
<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
