<%= render :partial => 'layouts/user_bar' %>
<%= render :partial => 'layouts/flash_messages' %>

<% if !@audits.empty? -%>
  <div class="page_info">
    <%= page_entries_info @audits %>
  </div>
<% end -%>

<div class="pad_bottom">
  <p class="document_title">Activity Log</p>
</div>

  <% if @audits.empty? -%>
    <p>No activity found.</p>
  <% else -%>

    <div class="pagination">
      <%= will_paginate @audits, :container => false %>
    </div>

  <%= render :partial => 'audits/audit_table', :object => @audits, :as => :audits %>

  <% end -%>
