<div id="user_bar">

<% if logged_in? -%>

  <div id="float_right">
    Logged in as <%= link_to_current_user :content_method => :name, :class => 'action user_show', :title => 'View my account information.' %>
  <%= link_to "Log out", logout_path, { :title => "Log out", :class => 'action user_logout' } %>
  </div>

  <% if current_user.roles.empty? -%>
    You have no Permisions!
  <% else -%>

    <% if current_user.has_role?("administrator") -%>
      <%= link_to "Users", users_path,  { :title => "Manage Users", :class => 'action user_index' } %>
      <%= link_to "Requests", user_requests_path,  { :title => "Manage Requests", :class => 'action request_index' } %>
      <%= link_to "Log", audits_path,  { :title => "System Auditing", :class => 'action system_log' } %>
    <% else -%>

      <%= link_to "Documents", documents_path ,  { :title => "Manage my documents", :class => 'action document_index' } %>
      <%= link_to "Shared", shared_documents_path ,  { :title => "View Documents Shared With Me", :class => 'action user_index' } %>

      <% if current_user.has_role?("corporate") -%>
        <%= link_to "Departments", corporate_documents_path, { :title => "Manage all documents", :class => 'action icon_folder_document' } %>
      <% elsif current_user.has_role?("manager") -%>
        <% department = current_user.departments.first -%>
        <%= link_to department.name, department_documents_path(department.id), { :title => "Manage documents for the "+department.name+" department.", :class => 'action icon_folder_document' } %>
      <% end -%>

    <% end -%>

  <% end -%>

<% else -%>

  <div id="float_right">
  <%# link_to_login_with_IP 'Not logged in', :style => 'border: none;' %>
  <%= link_to "Log in",  login_path,  { :title => "Log in", :class => 'action user_login' } %>
  <%= link_to "Register", register_path, { :title => "Create an account", :class => 'action user_new' } %>
  </div>
  Not logged in! Register or login to the right.

<% end -%>

</div>
