<div id="user_bar">

<% if logged_in? -%>

  <div id="float_right">
  Logged in as <%= link_to_current_user :content_method => :name, :class => 'action user_show' %>
  <%= link_to "Log out", logout_path, { :title => "Log out", :class => 'action user_logout' } %>
  </div>

  <% if current_user.roles.empty? -%>
    You have no Permisions!
  <% else -%>

    <% if current_user.roles.first.name == "administrator" -%>
      <%= link_to "All Users", users_path,  { :title => "Manage Users", :class => 'action user_index' } %>
      <%= link_to "Pending Users", pending_users_path,  { :title => "Manage Pending Users", :class => 'action user_index' } %>
      <%= link_to "Requests", user_requests_path,  { :title => "Manage Requests", :class => 'action request_index' } %>
    <% else -%>
      <%= link_to "Documents", documents_path ,  { :title => "Manage Documents", :class => 'action document_index' } %>
    <% end -%>

  <% end -%>

<% else -%>

  <div id="float_right">
  <%# link_to_login_with_IP 'Not logged in', :style => 'border: none;' %>
  <%= link_to "Log in",  login_path,  { :title => "Log in", :class => 'action user_login' } %>
  <%= link_to "Register", register_path, { :title => "Create an account", :class => 'action user_new' } %>
  </div>
  Not logged in! Register or login to the right.

<% end -%>

</div>
